.navbar-side {
  height: 100%;
  width: 25%;
  position: fixed;
  top: 0;
  right: 0;
  padding: 40px 0 0;
  list-style: none;
  border-left: 1px solid rgba(0,0,0,0.2);
  background-color: #F3B237;
  overflow-y: scroll;
  z-index: 1000;

  -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
    -webkit-transition: 300ms ease;
    transition: 300ms ease;
}

.navbar-side-item {
}

.side-link {
  padding: 2rem 0;
  margin: 0 0 0 2em;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  display: block;
}

 .reveal {
  -webkit-transform: translateX(0%);
  -ms-transform: translateX(0%);
  transform: translateX(0%);
  -webkit-transition: 300ms ease;
  transition: 300ms ease;
}

.overlay {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  cursor: pointer;
  background-color: #000;
  opacity: 0.6;
  z-index: 990;
}

/*@include media-breakpoint-up(xs) { width: 85%; }
@include media-breakpoint-up(sm) { width: 50%; }
@include media-breakpoint-up(md) { width: 25%; }*/
/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575px) {
  .navbar-side {
    width: 80%
  }
}
/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767px) {
  .navbar-side {
    width: 50%
  }
}
/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991px) {
  .navbar-side {
    width: 50%
  }
}
/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199px) {
  .navbar-side {
    width: 40%
  }
}
/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
  .navbar-side {
    width: 25%
  }
}
